*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-width: 1140px;
    margin: auto;
}

.menu-header {
    background: black;
    height: 40px;
}

.menu-header ul li a {
    text-decoration: none;
    color: white;
}

.menu-header ul{
    list-style-type: none;
}
.menu-header ul li{
    padding: 10px;
    float: right;
}
.header-content {

    background: #eee;
}
.header-content-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content_logo {
    display: flex;
    position: relative;
    margin-right: 60px;
}
.header-content_logo p {
    font-size: 30px;
    position: absolute;
    top: 42%;
    font-weight: 600;
    color: #fff;
    left: 51%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.header-content_logo span {
    transform: rotate(270deg);
    position: absolute;
    right: -46px;
    top: 26px;
    font-size: 17px;
    text-transform: uppercase;
}
.header-content_search {
    background: green;
    display: flex;
    justify-items: center;
    padding: 5px;
    width: 55%;
}
.header-content_search input{
   height: 25px;
   width: 82%;
   margin-right:10px ;
}
.header-content_search button.btn-search {
    background: transparent;
    box-shadow: 0 0 0;
    border: none;
}

.header-content_search p {margin-top: 5px; margin-left: 5px; color: #fff;}
.header-content_cart-top {
    display: flex;
    align-items: center;
}
.header-content_cart-top a{
    margin-right: 5px;
}
.header-content_cart-top p{
    font-weight: 600;
    color: gray;
}
.header-content_cart-top span {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
    margin-left: 5px;
}
.header-content_cart-tbottom span{
    font-weight: 600;
    font-size: 18px;
    margin-right: 6px;
    font-family: monospace;
    color: gray;
}
.header-content_cart-tbottom button{
    font-size: 12px;
    background: black;
    color: #fff;
    padding: 3px;
    border: none;
    border-radius: 3px;
}
.header-content_wish-list {
    text-align: center;
}
.header-content_wish-list p{
    position: relative;
}
.header-content_wish-list p::after{
    content: '20';
    position: absolute;
    right: -5px;
    font-size: 11px;
    top: -11px;
    background: #79b260;
    padding: 0 5px;
    border-radius: 5px;
    color: white;
}

ul.menu-content {
    display: flex;
    list-style-type: none;
    width: 100%;
}

.menu-content a {
    text-decoration: none;
    color: black;
}

.menu-content li.menu-item {
    padding: 15px 34px;
    transition: 0.4s;
}
.menu-content li.menu-item.active {
    background: green;
    color: #ffffff;
}
.menu-content-main {
    border-bottom: 1px solid #ccc;
}

li.menu-item:hover {
    background: green;
    color: #ffffff;
}


.side-content {
    width: 20%;
    border: 1px solid #ccc;
    padding: 10px 0px;
    margin-right: 10px;
}

.side-content h1 {
    padding: 0px 10px;
    font-weight: unset;
    font-size: x-large;
}

.side-content span {
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
}

.side-content ul {
    list-style-type: none;
}

.side-content li:hover {
    background: green;
}

.side-content ul li {
    padding: 5px 25px;
}

.side-content ul li p {
    border-bottom: 1px solid #cccccc;
}

.side-content ul li.active {
    background: green;
    color: #ffffff;
}

.side-content ul li.active p{
    border: none;
}

.main-content {
    width: 80%;
    border: 1px solid #ccc;
}

h1.title-main-content {
    font-weight: unset;
    font-size: x-large;
}

.main-content-item {
    width: 20%;
    list-style-type: none;
    text-align: center;
    margin: 20px 0px;
}

.main-content-item.sale {
    position: relative;

}

.main-content-item.sale .sale-item {
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 0px;
}

.main-content-item.sale span.item-number-sale {
    margin-top: 8px;
    display: inline-block;
    color: white;
}

.main-content-item.sale span.item-off {
    font-size: 13px;
    color: white;
}

.content {
    display: flex;
    margin-top: 10px;
}

.round-main-content-item {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #ccc; */
}

.main-content-item span.price {
    color: red;
}

ul.pagination-item {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    width: 100%;
}

.pagination {
    width: 100%;
}
.pagination-item li.active {
    border: 1px solid #ccc;
}
.pagination-item li.active a {
    border-bottom: 5px solid green;
    padding: 0px 10px;
    display: inline-block;
}

.pagination-item li:hover {
    background: green;
}

.pagination-item li a {
    display: inline-block;
    color: black;
    padding: 0px 10px;
    text-decoration: none;
}

.top-footer {
    background-image: url('../img/backgroud_footer.png');
    margin-top: 20px;
}

.around-top-footer {
    display: flex;
    justify-content: space-between;
}
.top-footer-item {
    width: 20%;
}

.top-footer-item ul li {
    color: white;
    border-bottom: 1px solid #ccc;
}

.top-footer-item ul li:last-child {
    border: none;
}

.top-footer-item ul {
    list-style-type: none;
}

.top-footer-item h2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
}

.bottom-footer {
    background-image: url(../img/backgroud_footer1.png);
    height: 200px;
}

.credit-cart-footer {
    height: 70%;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infor-footer{
    height: 30%;
}

.credit-cart-footer p{
    /* text-align: center; */
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    
}

.infor-footer p{
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding-top: 20px;
}

.credit-cart-footer ul {
    list-style-type: none;
    display: flex;
    /* text-align: center;
    justify-content: center; */
}